
        *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        nav{
            height: 60px;
            background-color: #0f1111;
            color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .nav-logo{
            height: 50px;
            width: 111px;
            
        }
        .nav-logo:hover{
            border: 1px solid white;
            cursor: pointer;
        }
        
        .nav-logo img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .location{
            height: 50px;
            
            display: flex;
            align-items: center;

        }
        .location:hover{
            border: 1px solid white;
            cursor: pointer;
        }
        
        .location i{
            margin-right: 7px;
            font-size: 1.1rem;

        }
        .location .address #main-address{
            opacity: 0.7;
            font-size: 0.7rem;
        }
        .location .address #update{
            font-weight: 600;
        }
        .search{
            padding: 0px;
            width:477px ;
            border-radius: 3px ;
            display: flex;
            align-items: center;
            /* background-color: rgb(244, 173, 42); */
        }
        .search:hover{
            border: 2px solid rgb(244, 173, 42);;
        }
        .search i{
            width: 44px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            color: black;
            background-color:rgb(244, 173, 42); ;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

        }
        .search input{
            padding: 5px;
            outline: none;
            border: none;
            height: 35px;
            width: 85%;
            
        }
        .search-select{
            width: 50px;
            background-color: #ccc;
            pad: 3px;
            height: 35px;
            border: none;
            text-align: center;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

        }
        .sign-in{
            height: 50px;

        }
        .sign-in:hover{
            border: 1px solid white;
            cursor: pointer;
        }
        
        .sign-in .small-up{
            font-size: 0.8rem;
        }
        .sign-in .large-down{
            font-weight: 600;
        }
        .return-order{
            height: 50px;
        }
        .return-order:hover{
            border: 1px solid white;
            cursor: pointer;
        }
        .return-order .small-up{
            font-size: 0.8rem;
        }
        .return-order .large-down{
            font-weight: 600;
        }
        .cart{
            padding: 10px 0px;
            display: flex;
            
            align-items: center;
        }
        .cart i{
            font-size: 1.4rem;
        }
        .cart p{
            margin-left: 5px;
            font-weight: 600;
        }
        .cart:hover{
            border: 1px solid white;
            cursor: pointer;
        }
        .panel{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #222f3d;
            color: white;
            padding: 8px;
        }
        .panel-ops{
            display: flex;
            width: 70%;
        }
        .panel-ops p{
            margin-left: 25px;
            font-size: 0.9rem;
             
        }
        /* .panel-deals p{
            font-weight: 600;
        } */
        .hero-section{
            background-image: url(images/heroImg.jpg);
            background-size: cover;
            height: 440px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .hero-msg{
            width: 80%;
            background-color: white;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.85rem;
            margin-bottom: 20px;
        }
        .hero-msg a{
            color: #007185;
        }
        .shop-section{
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #fcf1e5;
            
        }
        .box{
            margin-top: 15px;
            height: 400px;
            width: 22%;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: white;
            
        }
        .box-img{
            height: 275px;            
            background-size: cover;
        }
        .box:hover{
            box-shadow: 0px 0px 20px #f4d4af;
            cursor: pointer;
        }
        .back-to-home{
            background-color: #222f3d;
            height: 60px;
            color: white;
            text-align: center;
            padding: 20px;
        }
        footer{
            height: 355px;
        }
        .footer-last{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: white;
            margin-top: 50px;
        }
        .boxes-footer p{
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .boxes-footer li{
            list-style: none;
        }
